@using HelperMethods.Models

@model IEnumerable<Person>

@foreach (Person person in Model)
{
    <tr>
        <td>@person.FirstName</td>
        <td>@person.LastName</td>
        <td>@person.Role</td>
    </tr>
}