<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="sakilaEntities" connectionString="metadata=res://*/Sakila.csdl|res://*/Sakila.ssdl|res://*/Sakila.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Fatha1941;database=sakila;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Bovril.Sakila.ServiceApp.FilmService">
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:8080/FilmService"/>
            <add baseAddress ="net.tcp://localhost:8099/FilmService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFilmService" 
                 maxBufferSize="524288" 
                 maxReceivedMessageSize="524288"
                 openTimeout="00:00:30"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IFilmService"
                 maxBufferSize="524288"
                 maxReceivedMessageSize="524288"
                 openTimeout="00:00:30"/>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
