@model TaxMe.Models.IncomeAndDeductions

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Enter your income and deductions</h3>
    </div>
    <div class="panel-body">
        @using(Html.BeginForm()) {
            <div class="form-group">
                <label>Gross Annual Income ($):</label>
                @Html.TextBoxFor(m => m.GrossAnnualIncome, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Filing Status:</label>
                @Html.EnumDropDownListFor(m => m.Status, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>State:</label>
                @Html.EnumDropDownListFor(m => m.State, new { @class = "form-control" })
            </div>
            <input type="submit" value="Generate Tax Breakdown" class="btn btn-primary" />
        }
    </div>
</div>

