@using TaxMe.Models
@model TaxBreakdown

@{
    ViewBag.Title = "TaxBreakdown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4>Tax Breakdown</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Gross Annual Income</td>
                <td>$@Html.DisplayFor(m => m.GrossAnnualIncome)</td>
            </tr>
            @foreach (Tax tax in Model.Taxes)
            {
                <tr>
                    <td>@tax.Name</td>
                    <td>$@tax.Amount.ToString("0.00")</td>
                </tr>
            }
            <tr>
                <td>Total Tax</td>
                <td>$@Html.DisplayFor(m => m.TotalTax)</td>
            </tr>
            <tr>
                <td>Net Annual Income</td>
                <td>$@Html.DisplayFor(m => m.NetAnnualIncome)</td>
            </tr>
        </tbody>
    </table>

    @foreach (Tax tax in Model.Taxes) { 
        <h4>@tax.Name</h4>
        <table class="table table-bordered">
            <tbody>
                @foreach(TaxLine taxLine in tax.Lines)
                { 
                    <tr>
                        <td>@taxLine.Name</td>
                        <td>@taxLine.Rate</td>
                        <td>$@taxLine.Amount.ToString("0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>