<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sakilaEntities" connectionString="metadata=res://*/Sakila.csdl|res://*/Sakila.ssdl|res://*/Sakila.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Fatha1941;database=sakila;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>